@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
$primary: #35cd8c;
$secondary: #2e266f;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin gapped($gap) {
  display: flex;
  gap: $gap;
}
