@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
$primary: #35cd8c;
$secondary: #2e266f;
$complementary: #fff5ec;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin gapped($gap) {
  display: flex;
  gap: $gap;
}

@mixin desc() {
  .desc {
    margin-left: 6rem;
    display: flex;
    gap: 150px;
    align-items: center;

    h1 {
      color: $secondary;
      font-size: 2rem;
      position: relative;
      font-weight: 400;

      &::before {
        content: "";
        position: absolute;
        background: $primary;
        height: 100%;
        width: 1rem;
        margin-left: -1.5rem;
      }

      span {
        display: block;
      }
    }

    p {
      max-width: 500px;
    }
  }
}
